.aboutContainer {
  position: relative;
  background-color: $color-background;

  box-shadow: $block-shadow;
  border: $block-border;
  border-radius: $block-border-radius;

  height: 300px;
  width: $left-main-block-width;

  .contentContainer {
    display: flex;
    padding: 20px;
    padding-bottom: 70px;
  }

  .showMoreButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .infoContainer {
    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
  }

  .photoContainer {
    margin-left: auto;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    border: $block-border;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

@media (min-width: 320px) and (max-width: 525px) {
  .aboutContainer {
    height: 300px;
    width: 300px;

    .contentContainer {
      flex-direction: column;

      max-width: 300px;

      h1 {
        font-size: 22px;
        line-height: 1.2em;
        width: 200px;
      }

      p {
        font-size: 18px;
        line-height: 1.2em;
        width: 250px;
      }

      .photoContainer {
        display: none;
      }
    }
  }
}

@media (min-width: 526px) and (max-width: 1024px) {
  .aboutContainer {
    height: 350px;
    width: 550px;

    .contentContainer {
      h1 {
        font-size: 2.7em;
        line-height: 1.2em;
      }

      p {
        font-size: 1.4em;
        line-height: 1.2em;
      }
    }
  }
}
