.quizGridContainer {
  margin-top: $top-margin;
  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  .quizsContainer {
    display: grid;

    grid-template-columns: repeat(3, 400px);

    gap: 15px;
  }
}

@media (max-width: 768px) {
  .quizGridContainer {
    flex-direction: column;
    margin-bottom: 25px;

    .quizsContainer {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
    }
  }
}
