.headerContainer {
  background-color: $color-background;
  box-shadow: 0 10px 10px $color-shadow;

  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 3%;
  align-items: center;

  z-index: 1000;
  width: 95%;
  padding: 16px 24px;
  padding-left: 75px !important;
  border-radius: 12px;

  .logo {
    color: $color-text;
    transition: ease-in-out 0.2s;

    &:hover {
      color: $color-hover;
    }
  }

  .socialNetworksContainer {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    gap: 35px;

    .mtuciLinkContainer {
      transition:
        transform 0.4s ease-in-out,
        color 0.2s ease-in-out;
      transform-origin: center;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  .linkContainer {
    padding: 5px 15px;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $container-color-hover;
    }
  }

  .link {
    color: $color-text;
    transition: ease-in-out 0.2s;

    &:hover {
      color: $color-hover;
    }
  }

  .activeLink {
    font-weight: bold;
    color: $color-accent-blue;
    border-bottom: 2px solid $color-accent-blue;
  }
}

@media (min-width: 320px) and (max-width: 525px) {
  .headerContainer {
    width: 90%;

    // .socialNetworksContainer {
    //   display: none;
    // }
  }
}

@media (max-width: 768px) {
  .headerContainer {
    width: 90%;
  }
}
