.blogContainer {
  background-color: black;
  width: calc(100% - 750px);

  padding: 30px;

  border-radius: $block-border-radius;
  box-shadow: $block-shadow;
  border: $block-border;

  background-color: $color-background;

  margin-bottom: 40px;

  .paginationButtonGroup {
    .activePageButton {
      background-color: #cbd8ff !important;
      font-weight: 600;
    }
  }
}

@media (min-width: 320px) and (max-width: 525px) {
  .blogContainer {
    width: 300px;

    h1 {
      font-size: 22px;
      line-height: 1.2em;
      width: 200px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 1.2em;
      width: 220px;
    }

    .paginationButtonGroup {
      .activePageButton {
        display: none;
      }
      .notActivePageButton {
        display: none;
      }
    }
  }
}

@media (min-width: 526px) and (max-width: 1024px) {
  .blogContainer {
    width: 550px;

    h1 {
      font-size: 2.5em;
      line-height: 1.2em;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 1.2em;
      width: 520px;
    }
  }
}
