.projectGridContainer {
  margin-top: $top-margin;
  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  .projectsContainer {
    display: grid;

    grid-template-columns: repeat(2, 400px);
  }
}

@media (max-width: 768px) {
  .projectGridContainer {
    flex-direction: column;
    margin-bottom: 25px;

    .projectsContainer {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      gap: 15px;
    }
  }
}
