$card-width: 380px;
$card-heigth: 500px;

.quizCardWrapper {
  perspective: 1000px;
  width: $card-width;
  height: $card-heigth;
}

.quizCard {
  width: 100%;
  height: 100%;
  position: relative;

  transition:
    box-shadow 0.5s ease,
    border-color 0.6s ease;

  transform-style: preserve-3d;

  border: $block-border;
  border-radius: $block-border-radius;
  box-shadow: $block-shadow;
  background: $color-background;

  cursor: pointer;

  &:hover {
    border-color: $color-accent-blue;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  }
}

.cardFace {
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  padding: 20px;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .cardButton {
    margin-top: 15px;
  }
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .quizCardWrapper {
    perspective: 1000px;
    width: calc($card-width * 0.8);
    height: calc($card-heigth * 0.8);
  }

  .cardFace {
    .cardButton {
      margin-top: 5px;
    }
  }

  .back {
    p {
      font-size: 15px;
      line-height: 1.2em;
    }
  }
}
