@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-color: $color-background;
  color: $color-text;

  font-family: 'Roboto', sans-serif;
}
